(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r0_1",
    south: "",
    east: "r1_0",
    west: "",
    teleports: [
        (origin_col: 16, origin_row: 20, to: "r0_1", dest_col: 7, dest_row: 17),
    ],
    enemies: [
        (kind: 1, col: 25, row: 20),
        (kind: 2, col: 18, row: 20),
        (kind: 3, col: 32, row: 20),
    ],
    bg: [0.32, 0.16, 0.16],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#..@....................................",
        "#.....B.....E.....E......E......E.......",
        "########################################",
    ],
)
