(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [((9, 0), "r0_1", (9, 19))],
    south: [],
    east: [((39, 1), "r1_0", (1, 2)), ((39, 20), "r1_0", (1, 19))],
    west: [],
    teleports: [
    ],
    enemies: [
    ],
    movers: [
        // loop: a 3-tile platform patrolling a rectangle, forever.
        (tiles: [(22, 18), (23, 18), (24, 18)], path: [(22, 9), (30, 9), (30, 18)], mode: "loop", speed: 70, rest: 700),
    ],
    scenery: (far: "forest_meadow", mid: "forest_meadow", near: "forest_meadow", fg: "forest_meadow"),
    music: "forest_meadow",
    bg: [0.32, 0.16, 0.16],
    tiles: [
        "#########..#############################",
        "#.......................................",
        "#.......................................",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###.............###..............#",
        "#..@....................................",
        "#............B..........................",
        "########################################",
    ],
)
