(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r0_2",
    south: "r0_0",
    east: "r1_1",
    west: "",
    teleports: [
    ],
    enemies: [
    ],
    fog_wall: [
        (boss: 1, kind: 0, col: 28, row: 15),
    ],
    bg: [0.16, 0.32, 0.16],
    tiles: [
        "#########FF#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................F",
        "#.^^^..................................F",
        "#########FF#############################",
    ],
)
