(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r0_2",
    south: "r0_0",
    east: "r1_1",
    west: "",
    bg: [0.16, 0.32, 0.16],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#.......................................",
        "#.^^^...................................",
        "#########..#############################",
    ],
)
