(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [],
    south: [((9, 21), "r0_1", (9, 2))],
    east: [((39, 19), "r1_2", (1, 19))],
    west: [],
    teleports: [
    ],
    enemies: [
    ],
    scenery: (far: "snowy_mountains", mid: "snowy_mountains", near: "snowy_mountains", fg: "snowy_mountains"),
    bg: [0.16, 0.16, 0.32],
    tiles: [
        "########################################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#.......................................",
        "#.^^^...................................",
        "#########..#############################",
    ],
)
