(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "",
    south: "r0_1",
    east: "r1_2",
    west: "",
    teleports: [
    ],
    enemies: [
    ],
    bg: [0.16, 0.16, 0.32],
    tiles: [
        "########################################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#.......................................",
        "#.^^^...................................",
        "#########..#############################",
    ],
)
