(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [((9, 0), "r1_1", (9, 19))],
    south: [],
    east: [((39, 19), "r2_0", (1, 19))],
    west: [((0, 19), "r0_0", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    movers: [
        // pingpong: a 3-tile platform sliding back and forth between two points.
        (tiles: [(14, 18), (15, 18), (16, 18)], path: [(30, 18)], mode: "pingpong", speed: 90, rest: 500),
    ],
    scenery: (far: "sandy_beach", mid: "sandy_beach", near: "sandy_beach", fg: "sandy_beach"),
    bg: [0.32, 0.24, 0.16],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###.....###......................#",
        "........................................",
        "........................................",
        "########################################",
    ],
)
