(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r1_1",
    south: "",
    east: "r2_0",
    west: "r0_0",
    teleports: [
        (glyph: '0', to: "r0_0", col: 7, row: 17),
    ],
    bg: [0.32, 0.24, 0.16],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "................0.......................",
        "########################################",
    ],
)
