(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r1_2",
    south: "r1_0",
    east: "r2_1",
    west: "r0_1",
    teleports: [
    ],
    bg: [0.16, 0.32, 0.24],
    tiles: [
        "#########..#############################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
