(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r1_2",
    south: "r1_0",
    east: "r2_1",
    west: "r0_1",
    teleports: [
    ],
    enemies: [
    ],
    fog_wall: [
        (boss: 0, kind: 0, col: 18, row: 8),
        (boss: 0, kind: 0, col: 24, row: 14),
        (boss: 0, kind: 0, col: 30, row: 11),
    ],
    fog_respawn: 1,
    bg: [0.16, 0.32, 0.24],
    tiles: [
        "#########FF#############################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "F......................................F",
        "F......................................F",
        "#########FF#############################",
    ],
)
