(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "",
    south: "r1_1",
    east: "r2_2",
    west: "r0_2",
    teleports: [
    ],
    enemies: [
    ],
    bg: [0.24, 0.16, 0.32],
    tiles: [
        "########################################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
