(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [],
    south: [((9, 21), "r1_1", (9, 2))],
    east: [((39, 19), "r2_2", (1, 19))],
    west: [((0, 19), "r0_2", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    bg: [0.24, 0.16, 0.32],
    tiles: [
        "########################################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
