(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r2_1",
    south: "",
    east: "r3_0",
    west: "r1_0",
    teleports: [
    ],
    bg: [0.32, 0.32, 0.16],
    tiles: [
        "#########..#############################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "########################################",
    ],
)
