(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r2_2",
    south: "r2_0",
    east: "r3_1",
    west: "r1_1",
    teleports: [
    ],
    bg: [0.16, 0.32, 0.32],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
