(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [((9, 0), "r2_2", (9, 19))],
    south: [((9, 21), "r2_0", (9, 2))],
    east: [((39, 19), "r3_1", (1, 19))],
    west: [((0, 19), "r1_1", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    scenery: (far: "misty_swamp", mid: "misty_swamp", near: "misty_swamp", fg: "misty_swamp"),
    music: "misty_swamp",
    bg: [0.16, 0.32, 0.32],
    tiles: [
        "#########..#############################",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
