(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "",
    south: "r2_1",
    east: "r3_2",
    west: "r1_2",
    teleports: [
    ],
    bg: [0.32, 0.16, 0.32],
    tiles: [
        "########################################",
        "#...................R..................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "........................................",
        "........................................",
        "#########..#############################",
    ],
)
