(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r3_1",
    south: "",
    east: "",
    west: "r2_0",
    bg: [0.24, 0.32, 0.16],
    tiles: [
        "#########..#############################",
        "#.................................R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        ".......................................#",
        ".................................^^^...#",
        "########################################",
    ],
)
