(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [((9, 0), "r3_1", (9, 19))],
    south: [],
    east: [],
    west: [((0, 19), "r2_0", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    scenery: (far: "desolate_desert", mid: "desolate_desert", near: "desolate_desert", fg: "desolate_desert"),
    music: "desolate_desert",
    bg: [0.24, 0.32, 0.16],
    tiles: [
        "#########..#############################",
        "#.................................R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        ".......................................#",
        ".................................^^^...#",
        "########################################",
    ],
)
