(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [((9, 0), "r3_2", (9, 19))],
    south: [((9, 21), "r3_0", (9, 2))],
    east: [],
    west: [((0, 19), "r2_1", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    bg: [0.16, 0.24, 0.32],
    tiles: [
        "#########..#############################",
        "#...................R.............R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        ".......................................#",
        ".................................^^^...#",
        "#########..#############################",
    ],
)
