(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "r3_2",
    south: "r3_0",
    east: "",
    west: "r2_1",
    teleports: [
    ],
    enemies: [
    ],
    bg: [0.16, 0.24, 0.32],
    tiles: [
        "#########..#############################",
        "#...................R.............R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        ".......................................#",
        ".................................^^^...#",
        "#########..#############################",
    ],
)
