(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: "",
    south: "r3_1",
    east: "",
    west: "r2_2",
    bg: [0.32, 0.16, 0.24],
    tiles: [
        "########################################",
        "#.................................R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        ".......................................#",
        ".................................^^^...#",
        "#########..#############################",
    ],
)
