(
    name: "",
    solid: "#",
    spikes: "^",
    rocks: "R",
    north: [],
    south: [((9, 21), "r3_1", (9, 2))],
    east: [],
    west: [((0, 19), "r2_2", (38, 19))],
    teleports: [
    ],
    enemies: [
    ],
    fog_wall: [
        (boss: 1, kind: 1, col: 30, row: 15),
    ],
    scenery: (far: "starry_void", mid: "starry_void", near: "starry_void", fg: "starry_void"),
    music: "starry_void",
    boss_reward: "double_jump",
    bg: [0.32, 0.16, 0.24],
    tiles: [
        "########################################",
        "#.................................R....#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "#......................................#",
        "#......................................#",
        "#..........###.........................#",
        "#......................................#",
        "#......................................#",
        "#.....###..............................#",
        "F......................................#",
        "F................................^^^...#",
        "#########FF#############################",
    ],
)
